{{!-- 
// We will have to add pagination support in the metadata

The count is: {{!count}}
Page #: {{!page.count}}
{{!page.per_page}} per page --}}



<article>
	{{!-- 
		Convert Address to lat and lon
		Pass back lat and lon to API
	 --}}

	{{input type="text" placeholder="Enter Address or Zipcode" valueBinding="addressValue"}}
	<button {{action "actionSearch"}}>Find</button>
</article>

{{#each results}}
	<article>
		<h3>{{first_name}} {{last_name}}</h3>
		<h4>{{chamber}}</h4>
		<p>
			<div>Party: {{party}}</div>
			<div>Birthday: {{birthday}}</div>
		</p>
		<ul>
			{{#each contributors.content}}
				<li>{{name}} - ${{total_amount}}</li>
			{{else}}
				<li>Loading...</li>
			{{/each}}
		</ul>
		
		
	</article>
	<hr />
{{/each}}