The count is: {{count}}
Page #: {{page.count}}
{{page.per_page}} per page

{{#each legislator in results}}
	<article>
		<h1>{{legislator.title}} {{legislator.first_name}}{{#if legislator.middle_name}} {{legislator.middle_name}}{{/if}} {{legislator.last_name}}{{#if legislator.name_suffix}} {{legislator.name_suffix}}{{/if}}</h1>
		<h2>Bio Guide ID</h2>
		<p>{{legislator.bioguide_id}}</p>
		<h2>Birthday</h2>
		<p>{{legislator.birthday}}</p>
		<h2>Chamber</h2>
		<p>{{legislator.chamber}}</p>
		<h2>Contact Form</h2>
		<p>{{legislator.contact_form}}</p>
		<h2>CRP ID</h2>{{!-- what the fuck is a crp you ask? --}}
		<p>{{legislator.crp_id}}</p>
		<h2>District</h2>
		<p>{{legislator.district}}</p>
		<h2>Facebook ID</h2>
		<p>{{legislator.facebook_id}}</p>
		<h2>Fax #</h2>
		<p>{{legislator.fax}}</p>
		<h2>FEC ID</h2>
		<p>{{legislator.fec_ids}}</p>
		<h2>Gender</h2>
		<p>{{legislator.gender}}</p>
		<h2>Govtrack ID</h2>
		<p>{{legislator.govtrack_id}}</p>
		<h2>ICPSR ID</h2>{{!-- ? --}}
		<p>{{legislator.icpsr_id}}</p>
		<h2>In Office</h2>
		<p>{{legislator.in_office}}</p>
		<h2>Nickname</h2>
		<p>{{legislator.nickname}}</p>
		<h2>OCD ID</h2>
		<p>{{legislator.ocd_id}}</p>
		<h2>Office</h2>
		<p>{{legislator.office}}</p>
		<h2>Party</h2>
		<p>{{legislator.party}}</p>
		<h2>Phone</h2>
		<p>{{legislator.phone}}</p>
		<h2>State</h2>
		<p>{{legislator.state}}</p>
		<h2>State Name</h2>
		<p>{{legislator.state_name}}</p>
		<h2>Term end</h2>
		<p>{{legislator.term_end}}</p>
		<h2>Term Start</h2>
		<p>{{legislator.term_start}}</p>
		<h2>Thomas ID</h2>{{!-- Thomas who? --}}
		<p>{{legislator.thomas_id}}</p>
		<h2>Twitter ID</h2>
		<p>{{legislator.twitter_id}}</p>
		<h2>Votesmart ID</h2>
		<p>{{legislator.votesmart_id}}</p>
		<h2>Website</h2>
		<p>{{legislator.website}}</p>
		<h2>Youtube ID</h2>
		<p>{{legislator.youtube_id}}</p>
	</article>
	<hr />
{{/each}}